<div class="navbar navbar-inverse bg-info">
    <a class="navbar-brand">SPORTS STORE Admin</a>
</div>

<div class="m-t-1">
    <div class="col-xs-3">
        <button class="btn btn-outline-info btn-block"
                routerLink="/admin/main/products"
                routerLinkActive="active">
            Products
        </button>

        <button class="btn btn-outline-info btn-block"
                routerLink="/admin/main/orders"
                routerLinkActive="active">
            Orders
        </button>

        <button class="btn btn-outline-danger btn-block" (click)="logout()">
            Logout
        </button>
    </div>

    <div class="col-xs-9">
        <router-outlet></router-outlet>
    </div>
</div>