<div class="bg-primary p-a-1" [class.bg-warning]="editing">
    <h5>{{editing  ? "Edit" : "Create"}} Product</h5>
</div>

<form novalidate #form="ngForm" (ngSubmit)="save(form)" >

    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="name" id="name"  [(ngModel)]="product.name" />
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <input class="form-control" name="category" id="category" [(ngModel)]="product.category" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description"
                  [(ngModel)]="product.description">
        </textarea>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" name="price" id="price" [(ngModel)]="product.price" />
    </div>

    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
        {{editing ? "Save" : "Create"}}
    </button>

    <button type="reset" class="btn btn-secondary" routerLink="/admin/main/products">
        Cancel
    </button>
</form>